.project
.DS_Store
.settings/
bin/
.DS_Store
build
android/build/
.classpath
ios/Carthage
ios/ti.imagepicker-iphone-*.zip
ios/titanium-ios-imagepicker.xcodeproj/project.xcworkspace/xcuserdata
/ios/dist
